<h1>Convert <%= @currency_input%> to <%= @currency_input_2%>  </h1>

<p>1 <%= @currency_input%> equals <%=@rate%> <%= @currency_input_2%>.</p>

<p>Go <a href="/forex/<%=@currency_input%>">back</a>.</p>